@use "../variables";
@use "../mixins";

// TOP-PAGE-ABOUT
.top-page-about {
    background: variables.$Yellow-Light;
    padding-bottom: 100px;

    .top-page-content-about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .subheading {
            max-width: 470px;
            color: variables.$Dark;
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
            margin-bottom: 12px;
        }

        .heading {
            max-width: 670px;
            color: variables.$Dark;
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 6rem;
            font-style: normal;
            font-weight: 800;
            line-height: 7rem; /* 116.667% */
            margin-bottom: 18px;
        }

        .desc {
            max-width: 670px;
            color: variables.$Dark;
            text-align: center;
            font-family: Manrope;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
        }
    }

    @include mixins.screen(md) {

    padding-bottom: 40px;


        .subheading {
            margin-bottom: 6px !important;
            font-size: 1rem !important;
            line-height: 1.5rem !important;
        }

        .heading {
            width: 335px !important;
            font-size: 3rem !important;
            line-height: 3.5rem !important;
            margin-bottom: 8px !important;
        }


    }
}

// STORY
.story {
    display: flex;
    align-items: center;
    padding: 150px 0;

    .story__content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .subheading {
            color: variables.$Grey2;
            font-family: "Roboto Slab";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
            margin-bottom: 6px;
        }

        .heading {
            max-width: 469px;
            color: variables.$Dark;
            font-family: "Roboto Slab";
            font-size: 4.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5.2rem; /* 123.81% */
            margin-bottom: 18px;
        }

        .desc {
            max-width: 470px;
            color: variables.$Grey2;
            font-family: Manrope;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
        }
    }

    .story__img-right {
        position: relative;

        &::before {
            content: url(../img/abstract-story-imgright.png);
            position: absolute;
            top: 302px;
            left: -57px;
            width: 114px;
            height: 158px;
        }

        img {
            width: 100%;
        }
    }

    @include mixins.screen(xl) {
        &__content-left {
            .heading {
                max-width: 100% !important;
            }

            .desc {
                max-width: 100% !important;
            }
        }
    }

    @include mixins.screen(md) {
        padding: 50px 0;

        &__content-left {
            .subheading {
                font-size: 1.2rem !important;
                line-height: 2.1rem !important;
            }

            .heading {
                font-size: 3rem !important;
                line-height: 3.7rem !important;
                margin-bottom: 12px;
            }

            .desc {
                font-size: 1.2rem !important;
                line-height: 2.1rem !important;
            }
        }

        &__img-right {
            &::before {
                    content: url(../img/abstract-story-md.png) !important;
                    top: 161px !important;
                    left: -30px !important;
                    width: 100% !important;
                    height: auto !important;
            }
        }
    }
}

//Gallery
.gallery {
    padding-bottom: 150px;

   .inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .gallery__subheading {
            color: variables.$Grey2;
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
            margin-bottom: 6px;
        }

        .gallery__heading {
            max-width: 469px;
            color: variables.$Dark;
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 4.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5.2rem; /* 123.81% */
            margin-bottom: 18px;
        }

        .gallery__desc {
            max-width: 470px;
            color: variables.$Grey2;
            text-align: center;
            font-family: Manrope;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
            margin-bottom: 70px;
        }

        .gallery__img {
            margin-top: 55px;
            margin-bottom: 70px;

            img {
                width: 100%;
            }
        }

        .gallery__dot {
            margin-bottom: 70px;
        }

        .gallery__countdown {
            display: flex;
            gap: 100px;
            justify-content: center;
            align-items: center;
            background: variables.$Yellow;
            width: 100%;
            padding: 55px 0;

            @include mixins.screen(xl) {
                flex-wrap: wrap;
                padding: 30px 0;
            }

            .infor {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &__number {
                    color: variables.$Dark;
                    text-align: center;
                    font-family: "Roboto Slab";
                    font-size: 6rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 7rem; /* 116.667% */
                }

                &__title {
                    color: variables.$Dark;
                    text-align: center;
                    font-family: Manrope;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 3rem; /* 166.667% */
                }
            }
        }
   }

   @include mixins.screen(md) {
    padding-bottom: 50px;

    &__subheading {
        font-size: 1.2rem !important;
        line-height: 2.1rem !important;
    }

    &__heading {
        font-size: 3rem !important;
        line-height: 3.7rem !important;
        margin-bottom: 12px !important;
    }

    &__desc {
        margin-bottom: 0 !important;
    }

    &__img {
        margin-top: 30px !important;
        margin-bottom: 40px !important;
    }

    &__dot {
        margin-bottom: 40px !important;
    }

    &__countdown {
        padding: 40px 0 !important;
        flex-direction: column !important;
        gap: 50px !important;
    }
   }
}

//Video
.video {
    margin-bottom: 70px;
    
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .video__subheading {
            color: variables.$Grey2;
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
            margin-bottom: 6px;
        }

         .video__heading {
            width: 469px;
            color: variables.$Dark;
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 4.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5.2rem; /* 123.81% */
            margin-bottom: 18px;
        }

        .video__desc {
            width: 470px;
            color: variables.$Grey2;
            text-align: center;
            font-family: Manrope;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem; /* 166.667% */
            margin-bottom: 70px;
        }

        .video__img {
            position: relative;

            img {
                width: 100%;
            }

            .btn-play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

       
    }

   @include mixins.screen(md) {
   &__subheading {
        font-size: 1.2rem !important;
        line-height: 2.1rem !important;
   }

   &__heading {
        width: 334px;
        font-size: 3rem !important;
        line-height: 3.7rem !important;
        margin-bottom: 12px !important;
   }


   &__desc {
        margin-bottom: 30px !important;
        font-size: 1.2rem !important;
        line-height: 2.1rem !important;
        width: 335px !important;
   }

   }

}




