<footer class="footer">
    <div class="container">
        <div class="row row-cols-4 row-cols-xl-3 row-cols-md-1">
            <div class="col-2 col-xl-4 col-md-12">
                <h6>Justice</h6>
                <ul class="footer__links">
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Cookie Preferences</a></li>
                </ul>
            </div>
            <div class="col-2 col-xl-4 col-md-12">
                <h6>Pages</h6>
                <ul class="footer__links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="practice.html">Practice Areas</a></li>
                    <li><a href="#!">Attorneys</a></li>
                </ul>
            </div>
            <div class="col-3 col-xl-4 col-md-12">
                <h6>Justice</h6>
                <ul class="footer__infor">
                    <li>
                        <span>
                            50 Harrison Street, PH Suite 445 Hoboken, NJ 07030
                        </span>
                    </li>
                    <li><a href="tel:(000)123-4567">(000) 123-4567 </a></li>
                    <li>
                        <a href="mailto:yourlawfirm22@gmail.com">
                            yourlawfirm22@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-5 col-xl-12 col-md-12">
                <iframe
                    class="footer__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.495412619774!2d105.79993487471394!3d21.012854388325678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab5f76f47881%3A0x7da99dda1a8db432!2zTmfDtSA0MSBUcuG6p24gRHV5IEjGsG5nLCBUcnVuZyBIb8OgLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1752421441980!5m2!1svi!2s"
                    width="100%"
                    height="268"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                >
                </iframe>
            </div>
        </div>
        <div class="line"></div>
        <div class="row row-cols-1 sub-footer">
            <div class="col-1">
                <!-- Logo -->
                <div class="logo">
                    <a href="#!"><img src="/img/logo.svg" alt="" /></a>
                    <div class="logo__content">
                        <span> Justice </span>
                        <p>Law Firm</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="sub-footer__infor">
                    <span>Copyright © 2022 UI HUT All Rights Reserved </span>
                    <div class="sub-footer__socials">
                        <a href="#!"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#!">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
