<header class="header">
    <!-- Logo -->
    <div class="logo">
        <a href="#!"><img src="/img/logo.svg" alt="" /></a>
        <div class="logo__content">
            <span> Justice </span>
            <p>Law Firm</p>
        </div>
    </div>
    <!-- End-Logo -->
    <label for="toggle" class="menu-hamburger">
        <i class="menu-icon fa-solid fa-bars"></i>
    </label>
    <input type="checkbox" name="" id="toggle" hidden />
    <!-- Nav -->
    <ul class="nav">
        <li>
            <input type="checkbox" name="" id="checked1" hidden />
            <label for="checked1">
                <span>Home</span>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
            <ul class="submenu">
                <li>
                    <a href="index.html">Home 1</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="index.html">Home 2</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="index.html">Home 3</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="index.html">Home 4</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="index.html">Home 5</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="index.html">Home 6</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </li>
        <li>
            <input type="checkbox" name="" id="checked2" hidden />
            <label for="checked2">
                <span>About</span>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
            <ul class="submenu">
                <li>
                    <a href="about.html">About 1</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="about.html">About 2</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="about.html">About 3</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="about.html">About 4</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="about.html">About 5</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="about.html">About 6</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </li>
        <li>
            <input type="checkbox" name="" id="checked3" hidden />
            <label for="checked3">
                <span>Practice Areas</span>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
            <ul class="submenu">
                <li>
                    <a href="practice.html">Practice Areas 1</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="practice.html">Practice Areas 2</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="practice.html">Practice Areas 3</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="practice.html">Practice Areas 4</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="practice.html">Practice Areas 5</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="practice.html">Practice Areas 6</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </li>
        <li>
            <input type="checkbox" name="" id="checked4" hidden />
            <label for="checked4">
                <span>Attorneys</span>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
            <ul class="submenu">
                <li>
                    <a href="#!">Divorce</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Personal Injury</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Employment</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Immigration</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Family</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Property</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </li>
        <li>
            <input type="checkbox" name="" id="checked5" hidden />
            <label for="checked5">
                <span>Page</span>
                <i class="fa-solid fa-chevron-down"></i>
            </label>
            <ul class="submenu">
                <li>
                    <a href="#!">Divorce</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Personal Injury</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Employment</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Immigration</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Family</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
                <li>
                    <a href="#!">Property</a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>
            </ul>
        </li>
    </ul>
    <!--End-Nav -->
    <!-- Phone-number -->
    <div class="phone-number">
        <span class="phone-number__text">Call :</span>
        <a href="tel:(000)123456789" class="phone-number__number">
            (000) 123 456 789
        </a>
    </div>
    <!-- End Phone-number -->
</header>
