<!-- Section-Awards -->
<section class="awards">
    <div class="container">
        <span class="subheading">#Awards</span>
        <h2 class="heading">Our Honors & Awards</h2>
        <div class="row row-cols-4 row-cols-xl-2 g-xl-3 row-cols-lg-1">
            <div class="col-3">
                <div class="awards__img">
                    <img src="./img/awards-img1.png" alt="" />
                </div>
            </div>
            <div class="col-3">
                <div class="awards__img">
                    <img src="./img/awards-img2.png" alt="" />
                </div>
            </div>
            <div class="col-3">
                <div class="awards__img">
                    <img src="./img/awards-img3.png" alt="" />
                </div>
            </div>
            <div class="col-3">
                <div class="awards__img">
                    <img src="./img/awards-img4.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End-Section-Awards -->
