<!-- Section-Services -->
<section class="services">
    <div class="container">
        <span class="subheading">#Services</span>
        <h2 class="heading">Our Practice Areas</h2>
        <p class="desc">
            Our Law Office provides a professional experience for all our
            clients, helping them navigate their legal rights.
        </p>
        <div
            class="row row-cols-3 g-3 row-cols-xl-2 row-cols-lg-1 g-lg-3 services__list-member"
        >
            <div class="col-4">
                <div class="card-member">
                    <img src="./img/Images1-services.png" alt="" />
                    <h3 class="card-member__name">Personal Injury Law</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card-member">
                    <img src="./img/Images2-services.png" alt="" />
                    <h3 class="card-member__name">Employment Law</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card-member">
                    <img src="./img/Images3-services.png" alt="" />
                    <h3 class="card-member__name">Immigration Law</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card-member">
                    <img src="./img/Images4-services.png" alt="" />
                    <h3 class="card-member__name">Family Law</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card-member">
                    <img src="./img/Images5-services.png" alt="" />
                    <h3 class="card-member__name">Divorce Law</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="card-member">
                    <img src="./img/Images6-services.png" alt="" />
                    <h3 class="card-member__name">Property Law</h3>
                </div>
            </div>
        </div>
        <button class="button-primary">View All</button>
    </div>
</section>
<!-- End-Section-Services -->
