<!-- Section-Team -->
<section class="team">
    <div class="container">
        <span class="subheading">#Team</span>
        <h2 class="heading">Meet With Lawyers</h2>
        <p class="desc">
            Our team of experienced team more than $150 Million in Settlements
            and Judgments for Our Clients
        </p>
        <div class="row row-cols-3 row-cols-xl-2 g-xl-3 row-cols-lg-1">
            <div class="col-4">
                <div class="team-card">
                    <div class="team-card__img">
                        <img src="./img/team-img1.png" alt="" />
                        <button class="button-primary">View Profile</button>
                    </div>
                    <div class="team-card__infor">
                        <span class="name">David Warner</span>
                        <p class="title">Attorney at Law</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="team-card">
                    <div class="team-card__img">
                        <img src="./img/team-img2.png" alt="" />
                        <button class="button-primary">View Profile</button>
                    </div>
                    <div class="team-card__infor">
                        <span class="name">Aaron Finch</span>
                        <p class="title">Founding President</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="team-card">
                    <div class="team-card__img">
                        <img src="./img/team-img3.png" alt="" />
                        <button class="button-primary">View Profile</button>
                    </div>
                    <div class="team-card__infor">
                        <span class="name">Jamie Watts</span>
                        <p class="title">Partner</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="team-card">
                    <div class="team-card__img">
                        <img src="./img/team-img4.png" alt="" />
                        <button class="button-primary">View Profile</button>
                    </div>
                    <div class="team-card__infor">
                        <span class="name">Ellyse Perry</span>
                        <p class="title">Associate Attorney</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="team-card">
                    <div class="team-card__img">
                        <img src="./img/team-img5.png" alt="" />
                        <button class="button-primary">View Profile</button>
                    </div>
                    <div class="team-card__infor">
                        <span class="name">Meg Lanning</span>
                        <p class="title">Senior Partner</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="team-card">
                    <div class="team-card__img">
                        <img src="./img/team-img6.png" alt="" />
                        <button class="button-primary">View Profile</button>
                    </div>
                    <div class="team-card__infor">
                        <span class="name">Peter Siddle</span>
                        <p class="title">Of Counsel</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="button-primary btn-center2">All Attorney</button>
    </div>
</section>
<!-- End-Section-Team -->
