<!-- Section-CTA -->
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="cta__subheading"> #CTA </span>
                <h2 class="cta__heading">Dealing With a Issue?</h2>
                <p class="cta__desc">
                    Where every injury is personal. We are a different kind of
                    law firm. Let our small, passionate group of trial lawyers
                    fight for your rights!
                </p>
                <button class="button-primary btn-center">
                    Get a Consultations
                </button>
            </div>
        </div>
    </div>
</section>
<!-- End-Section-CTA -->
