$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$Orange: #FD6038;
$OrangeHover: #FC3C38;
$Dark: #0E1412;
$Yellow: #FED464;
$Yellow-Light: #F8EBC9;
$Green: #017848;
$White: #fff;
$Grey: #BECCC7;
$Grey2: #586863;
$Line: #313D39;
$Border: #E6EFEC;
$Light-grey: #DBE1E3;
$Background-input: #F2F2F2;